@media (min-width: 640px) {
  .max-w-sm {
    max-width: 20rem;
  }

  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    outline: none;
    width: 360px;
  }
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  width: 660px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.font b {
  font-size: 15px;
}

.colorData {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 15px;
}

.maximumWidth {
  max-width: 305px;
  margin-top: 50px;
}
